@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


p {
    font-size: 1.2rem;
}

.attribution {
    position: relative;
    text-align: center;
    
}